<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.dao.admin.CategoryMapper" >
    <resultMap type="com.ams.entities.admin.CategoryInfo" id="categoryMap">
        <!-- 主键必须用id标签映射 -->
        <id column="CATEGORY_ID" property="id" />
        <!-- column为数据库字段名,property为实体类属性名 -->
        <result column="CATEGORY_NAME" property="name" />
        <result column="status" property="status" />
        <association column="parent_id" property="parent" javaType="com.ams.entities.admin.CategoryInfo" select="getCategoryById"/>
    </resultMap>
    <select id="categoryQueryPage" parameterType="java.util.Map" resultMap="categoryMap">
        select *
        from B_CATEGORY t where 1=1
        <where>
            <if test="name!=null and name !=''">
                AND t.CATEGORY_NAME LIKE '%'||#{acctName}||'%'
            </if>
            <if test="status!=null and status !=''">
                AND t.status = #{status}
            </if>
        </where>
    </select>
    <insert id="insertCategory" parameterType="com.ams.entities.admin.CategoryInfo" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_AMS.Nextval from dual
        </selectKey>
        insert into B_CATEGORY (CATEGORY_ID, CATEGORY_NAME, status)
        values (#{id}, #{name}, #{status})
    </insert>

    <insert id="insertSubCategory" parameterType="com.ams.entities.admin.CategoryInfo" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_AMS.Nextval from dual
        </selectKey>
        insert into B_CATEGORY (CATEGORY_ID, CATEGORY_NAME, status, parent_id)
        values (#{id}, #{name}, #{status}, #{parent.id})
    </insert>
    <select id="getCategoryById" parameterType="int" resultMap="categoryMap">
        select * from B_CATEGORY
        where CATEGORY_ID = #{id}
    </select>
</mapper>