<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.dao.admin.UserMapper" >
    <resultMap type="com.ams.entities.admin.UserInfo" id="userMap">
        <!-- 主键必须用id标签映射 -->
        <id column="ACCT_ID" property="id" jdbcType="NUMERIC"/>
        <!-- column为数据库字段名,property为实体类属性名 -->
        <result column="ACCT_NAME" property="acctName" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
        <result column="ACCT_PWD" property="password"  jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="GENDER" property="gender" jdbcType="NUMERIC"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="DATE"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="userQueryPage" parameterType="java.util.Map" resultMap="userMap">
        select *
        from B_ACCOUNT u
        <where>
            <if test="name!=null and name !=''">
                AND u.ACCT_NAME LIKE '%'||#{acctName}||'%'
            </if>
        </where>
    </select>
    <insert id="insertUser" parameterType="com.ams.entities.admin.UserInfo" >
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select SEQ_AMS.nextval  from dual
        </selectKey>
        insert into B_ACCOUNT (ACCT_ID, ACCT_NAME, USER_NAME, FULL_NAME, ACCT_PWD, STATUS, GENDER, BIRTHDAY, EMAIL, PHONE)
        values(#{id}, #{acctName}, #{userName},#{fullName},#{password},#{status},#{gender},#{birthday,jdbcType=DATE},#{email},#{phone})
    </insert>
    <select id="getUser" parameterType="com.ams.entities.admin.UserInfo" resultMap="userMap">
        SELECT * FROM b_account t WHERE t.ACCT_NAME=#{acctName}
    </select>
</mapper>