<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ams.dao.admin.UserMapper" >
    <resultMap type="com.ams.entities.admin.UserInfo" id="userMap">
        <!-- 主键必须用id标签映射 -->
        <id column="ACCT_ID" property="id" />
        <!-- column为数据库字段名,property为实体类属性名 -->
        <result column="ACCT_NAME" property="acctName" />
        <result column="USER_NAME" property="userName" />
        <result column="FULL_NAME" property="fullName" />
        <result column="ACCT_PWD" property="password" />
        <result column="STATUS" property="status" />
        <result column="DESCRIPTION" property="description" />
        <result column="GENDER" property="gender" />
        <result column="BIRTHDAY" property="birthday" />
        <result column="EMAIL" property="email" />
        <result column="PHONE" property="phone" />
    </resultMap>
    <select id="userQueryPage" parameterType="java.util.Map" resultMap="userMap">
        select *
        from user_t u
        <where>
            <if test="age> 0">
            <![CDATA[ u.age > #{age} ]]>
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="com.ams.entities.admin.UserInfo" >
        insert into user_t (id, user_name, password,age)
        values (#{id}, #{userName}, #{password},#{age})
    </insert>
    <select id="getUser" parameterType="com.ams.entities.admin.UserInfo" resultMap="userMap">
        SELECT * FROM b_account t WHERE t.ACCT_NAME=#{acctName, jdbcType=VARCHAR}
    </select>
</mapper>